[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
prospector = "*"

[packages]
django = "*"
django-registration-redux = "*"
django-debug-toolbar = "*"
pillow = "*"
django-heroku = "*"
psycopg2-binary = "*"
pyopenssl = "*"
psycopg2 = "*"
gunicorn = "*"
django-filter = "*"
django-allauth = "*"

[requires]
python_version = "3.7"
