#cover_image_layer {
    padding: 10px;
    position: absolute;
    background-color: black;
    opacity: 0.5;
    height: 100%;
    width: 100%;
    z-index: 1;
}

/* Adjust button margin-left if there is a better way of doing it */
.button {
    background-color: #7EE905;
    border: none;
    color: black;
    padding: 6px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    margin-left: 940px;
}

.button-snippet {
    background-color: #7EE905;
    border: none;
    color: black;
    padding: 6px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    float: right;
    margin-right: 1rem;
}

.snippet-box {
    margin-left: 2rem;
    padding: 1rem;
    width: 400px;
    height: 400px;
}
.snippet-user {
    margin-top: 0;
    margin-left: 2rem;
}

.snippet-title, .snippet-languages, .snippet-created {
    margin-left: 2rem;
}



.font {
    font-family: 'Exo', sans-serif;
}

.nav_font_color {
    color: #7EE905;
}

.snippet_input {
    width: 600px;
    height: 300px;
    display: block;
    margin : 0 auto;
}

