#cover_image_layer {
    padding: 10px;
    position: absolute;
    background-color: black;
    opacity: 0.5;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.edit {
    margin-left: 2rem;
}

.button-snippet {
    background-color: #7EE905;
    border: none;
    color: black;
    padding: 6px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    margin-bottom: 5px;
}

.delete-button {
    border: none;
    color: red;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}

.snippet-box {
    margin-left: 2rem;
    padding: 1rem;
    width: 400px;
    height: 400px;
}
.snippet-user {
    margin-top: 0;
    margin-left: 2rem;
}

.snippet-title, .snippet-languages, .snippet-created {
    margin-left: 2rem;
}

.font {
    font-family: 'Exo', sans-serif;
}

.body-font {
    font-family: 'Raleway';
}

.nav_font_color {
    color: #7EE905;
}

.snippet_input {
    width: 600px;
    height: 300px;
    display: block;
    margin : 0 auto;
}

.logo-font-size {
    font-size: 70px;
}

.logo_font {
    font-size: 30px;
}

.logo {
    cursor:pointer;
}

.logo:hover { 
    -moz-animation: spin .4s 1 linear;
    -o-animation: spin .4s 1 linear;
    -webkit-animation: spin .4s 1 linear;
    animation: spin .4s 1 linear;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(359deg); }
}

@-moz-keyframes spin {
    0% { -moz-transform: rotate(0deg); }
    100% { -moz-transform: rotate(359deg); }
}

@-o-keyframes spin {
    0% { -o-transform: rotate(0deg); }
    100% { -o-transform: rotate(359deg); }
}

@-ms-keyframes spin {
    0% { -ms-transform: rotate(0deg); }
    100% { -ms-transform: rotate(359deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(359deg); }
}

.detail-links:hover {
    background-color: #7EE905;
    opacity: .8;
  }

.folder {
    border-color: #7EE905;
}