{% extends "base.html" %}
{% load staticfiles %}
{% load static %}

{% block content %}
<div class="ml3 mt0 pa2">
    <form method="GET" style="font-family: 'Raleway'">
        <tr class="flex wrap around">
                <td>{{ filter.form.title__icontains.label_tag }}</td>
                <td>{{ filter.form.title__icontains }}</td>

                <td>{{ filter.form.post_content__icontains.label_tag }}</td>
                <td>{{ filter.form.post_content__icontains }}</td>

                <td>{{ filter.form.language.label_tag }}</td>
                <td>{{ filter.form.language }}</td>

                <td>{{ filter.form.user.label_tag }}</td>
                <td>{{ filter.form.user }}</td>

                <button class="font button-snippet dim ml4" type='submit'>Search</button>
        </tr>
    </form>
</div>
<div class="ml5">


<h2 style="font-family: 'Raleway'; ">Public Snippets</h2>
{% for snippet in filter.qs %}
<div class="ml5 f4" style="font-family: 'Raleway'; ">
    
    <div>
        <a class="detail-links link black body-font mb3" href="{% url 'snippet-detail' snippet.slug %}">
            {{snippet}}
        </a>
        <span class="f6 gray">
            Added by: <a class="link black detail-links dim" href="{% if user == snippet.user%}{% url 'snippet_list' %} {%else%}{% url 'user_snippets' snippet.user.pk %}{%endif%}">{{snippet.user}}</a>
            <span class="f6 black"> ~ {{snippet.language|upper}}</span>
        </span>
    </div>
    
    <div class="js-snippetcontent ma2 f5 w-50 h-auto ba b--black pa2">
        {{snippet.post_content}}
    </div>
    <div class="flex column">
        <div class="f6 mb2">Date added: <em>{{snippet.created_at}}</em></div>
        <button class="js-copysnippet ml7 font button-snippet dim" style="height: 35px;"
        value="{{snippet.post_content}}">Vault</button>

    <!-- <form data-snippetpk="{{ snippet.pk }}" class="copy-snippet" method='POST'
    action="{% url 'copy-snippet' slug=snippet.slug %}">
    {% csrf_token %}
    <button type='submit' class="font button dim dib">copy</i></button> -->

  <!-- </form> -->
    </div>  
</div>
{% endfor %}
</div>





{% endblock %}