{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="ml5">
<h2 style="font-family: 'Raleway'; ">Public Snippets</h2>
{% for snippet in snippets.all %}
<div class="ml5 f4" style="font-family: 'Raleway'; ">
    
    <div>
        <a class="mb3" style="color: #000000; text-shadow: 2px 2px 2px #F7FF00; text-decoration: none;" href="{% url 'snippet-detail' snippet.slug %}">
            {{snippet}}
        </a>
        <span class="f6 gray">
            Added by: <a class="link underline-hover dim"href="{% if user == snippet.user%}{% url 'snippet_list' %} {%else%}{% url 'user_snippets' snippet.user.pk %}{%endif%}">{{snippet.user}}</a>
            <span class="f6 purple"> ~ {{snippet.language|upper}}</span>
        </span>
    </div>
    
    <div class="js-snippetcontent ma2 f5 w-50 h-auto ba b--black pa2">
        {{snippet.post_content}}
    </div>
    <div class="flex column">
        <div class="f6 mb2">Date added: <em>{{snippet.created_at}}</em></div>
        <button class="js-copysnippet ml7 f7 br2 shadow-3" style="height: 35px;
        width: 100px;
        background-color: #7EE905;
        font-family: 'Roboto', sans-serif;
        cursor: pointer;" 
        value="{{snippet.post_content}}">Copy to Clipboard</button>

        
    </div>  
</div>
{% endfor %}
</div>





{% endblock %}