{% extends "base.html" %}
{% load staticfiles %}


{% block content %}
<h3 class="folder ml3 f3" style="font-family: 'Exo', sans-serif">Folder: {{ folder }}</h3>

<div class="ml5 f4" style="font-family: 'Raleway'; ">

    {% for snippets in folder.snippets.all %}
        {% if request.user.is_authenticated and user == snippets.user %}
        <div class="mt4">
            <div ><a style="color: #000000; text-shadow: 2px 2px 2px #F7FF00; text-decoration: none;" href="{% url 'snippet_detail' snippets.slug %}">{{snippets}}</a></div>
            <div class="ma2">
                {{snippets.post_content|truncatewords:15}}
            </div>
            <div class="flex column">
                <div class="f6 ma2">added by - {{snippets.user}} </div>
                <div class="f6 ma2">{{snippets.created_at}}</div>
            </div>
        </div>
        {% endif %}
    {% endfor %} 
</div> 


    
{% endblock %}