{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>CodeVault</title>
  <link href="https://fonts.googleapis.com/css?family=Exo" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>

<body class="font">

  {% comment %} <div id="cover_image_layer"></div>
  <img src={% static "img/vault.jpg" %}>  {% endcomment %}

  <div class="bg-black min-vh-100 nav_font_color">
    <div class="pa4 center mw6">
      <div class="tc">

        <h1 class="f-headline lh-solid">
          CodeVault
        </h1>
        <p class="white f3">A code snippet manager</p>
        <p>
        </p>
          <a href="{% url 'auth_login' %}">Login</a>
      </div>
    </div>
  </div>
<button class="font button dim dib"><a href="{% url 'auth_login' %}">Login</a></button>
</body>

</html>