{% extends "base.html" %}
{% load staticfiles %}
{% load static %}

{% block content %}
<div class="accordion mb3 ml4" id="accordionExample">
  <button class="btn pure-button logo_font" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
    <i class="fas fa-sliders-h"></i>
  </button>
  <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
    <div class="card-body" style="padding: 0;">
      <form method="GET" style="font-family: 'Raleway'; margin-top: 1rem;">
        <table class="form-group">
            <span style="padding: 2rem; padding-right: 1rem;">{{ filter.form.title__icontains.label_tag }}</span>
            <span style="">{{ filter.form.title__icontains }}</span>

            <span style="padding: 2rem; padding-right: 1rem;">{{ filter.form.content__icontains.label_tag }}</span>
            <span style="">{{ filter.form.content__icontains }}</span>

            <span style="padding: 2rem; padding-right: 1rem;">{{ filter.form.language.label_tag }}</span>
            <span style="">{{ filter.form.language }}</span>

            <span style="padding: 2rem; padding-right: 1rem;">{{ filter.form.user.label_tag }}</span>
            <span style="">{{ filter.form.user }}</span>
                                <style>.foo:hover { color: white; }</style>
            <td><button class="foo font button-success btn ml1 mt2" type="submit">Go</button></td>
        </table>
      </form>
    </div>
  </div>
</div>

<h3 class="font ml4 pb2" style="padding-top: 0.4rem;">Public Pouch:</h3>
<div class="container" style="max-width: 90%; padding-right: 2px;">
  <div class="row flex-grow">
  {% for snippet in filter.qs %}
    {% if snippet.public == True %}
    <div class="col-md col-md col-md" style="padding: 3px;">
      <!-- snippet card start -->
      <div class="card mb-3" style="height: 19rem; max-width: 60rem; margin: 0;">
        <a class="detail-links body-font black hover-white" style="text-decoration: none;" href="{% url 'snippet-detail' pk=snippet.pk %}">
            <style>
              .bar:hover { text-shadow: 1px 1px 2px #000000; }
            </style>
          <div class="card-header bar" style="overflow: auto; padding: 0.2rem;">
            <div class="flex mb1 pa1" id="title-{{ snippet.pk }}">
              {{ snippet }}
            </div>
          </div>
        </a>

        <div class="card-body" style="overflow: auto; padding: 0;">
          <script src="{% static 'js/prism.js' %}"></script>
          <pre class="line-numbers js-snippetcontent pa2" id="snippet-{{ snippet.pk }}"><code class=“language-{{snippet.language}}“>{{snippet.content}}</code></pre>
        </div>

        <div class="flex card-footer text-muted">
          <span class="f6 gray">{{snippet.get_language_display|upper}}</span>
          <span class="f6 gray"> ~ added on: <em>{{snippet.created_at|date:"Y-m-d @g:iA"}}</em></span>
          {% if user != snippet.user %}
          <span style="flex-grow: 2;" class="f6 gray ml1 mr2">
            by: <a class="profile-links body-font" href="{% url 'user_snippets' snippet.user.pk %}">{{snippet.user}}</a>
          </span>
                      <style>
                        .foo:hover { color: white; }
                        .foo:active { color: #f05822; }
                      </style>
          <button style="border-radius: 3px; height: 2.3rem; margin-bottom: 2px;" class="foo clipboardjs btn font button-success" data-clipboard-target="#snippet-{{ snippet.pk }}"><i class="fas fa-clipboard"></i></button>
          {% else %}
          <span style="flex-grow: 2;"></span>
          <form data-snippetpk="{{ snippet.pk }}" class="delete-snippet" method='POST' action="{% url 'confirm-snippet-delete' pk=snippet.pk %}">
            {% csrf_token %}
            <button type='submit' class="delete-button btn dim font hover-white" data-toggle="tooltip" data-placement="left" data-html="true" title="Are you sure you want to <b>delete?<b>"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
          </form>
          {% endif %}
        </div>
    <!-- <form data-snippetpk="{{ snippet.pk }}" class="copy-snippet" method='POST'
    action="{% url 'copy-snippet' pk=snippet.pk %}">
    {% csrf_token %}
    <button type='submit' class="font button dim dib">copy</i></button> -->
  <!-- </form> -->
      </div>
    </div>
  {% if forloop.counter|divisibleby:3 %}
  </div>  
  <div class="row">
    {% endif %}
    {% endif %}
    {% endfor %}
  </div>
</div>
{% endblock %}