{% extends "base.html" %}
{% load snippet_tags %}
{% load staticfiles %}

{% block content %}
<div class="accordion" id="accordionExample">
    <div class="mb0">

        <h2 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Filter
          </button>
        </h2>

  
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body pa0">
            <div class="mt0">
                <form class="" method="GET" style="font-family: 'Raleway'">
                  <table style="border: none;" class="flex wrap around pure-table pure-table-horizontal">
                    <tr class="pure-form pure-form-stacked">
                      <td style="padding: 0.5rem;">{{ filter.form.title__icontains.label_tag }}</td>
                      <td style="padding: 0.5rem;">{{ filter.form.title__icontains }}</td>
            
                      <td style="padding: 0.5rem;">{{ filter.form.post_content__icontains.label_tag }}</td>
                      <td style="padding: 0.5rem;">{{ filter.form.post_content__icontains }}</td>
            
                      <td style="padding: 0.5rem;">{{ filter.form.language.label_tag }}</td>
                      <td style="padding: 0.5rem;">{{ filter.form.language }}</td>
            
                      <td><button class="font button-success pure-button hover-white" type="submit">Go</button></td>
                    </tr>
                  </table>
                </form>
              </div>
        </div>
      </div>
    </div>
</div>
  <h3 class="font ml5 pb2">Your Snippet Pouch:</h3>
  <div class="container">
      <div class="row">
  {% for snippet in filter.qs %}
    {% if user == snippet.user %}
              <div class="col-md col-md" style="padding: 0;">
                  <div class="card mb-3" style="width: 35rem; margin: 0;">
                    <div class="card-header" style="overflow: auto; padding: 0.2rem;">
                        <div class="flex mb1 pa1" id="snippet-{{ snippet.pk }}">
                            <a class="detail-links body-font link black" href="{% url 'snippet-detail' slug=snippet.slug %}">{{ snippet }}</a>
                        </div>
                    </div>

                    <div class="card-body" style="max-height: 20rem; overflow: auto; padding: 0;">

                    <script src="{% static 'js/prism.js' %}"></script>
                    <a class="detail-links link black body-font mb3" href="{% url 'snippet-detail' snippet.slug %}">
                        <pre class="line-numbers js-snippetcontent pa2"><code class=“language-{{snippet.language}}“>{{snippet.post_content}}</code></pre>
                    </a>
                    </div>
                    <div class="flex card-footer text-muted">

                      <span class=" gray">{{snippet.get_language_display|upper}}</span>
              
                      <span class="mr2 ml2 f6 gray">
                        {% if snippet.public == True %}
                        (Public)
                        {% else %}
                        (Private)
                        {% endif %}
                      </span>
                      <span style="flex-grow: 2;" class="f6 gray">Copied: {% copyCount snippet.pk %}</span>
              
                      <form data-snippetpk="{{ snippet.pk }}" class="delete-snippet" method='POST'
                        action="{% url 'confirm-snippet-delete' pk=snippet.pk %}">
                        {% csrf_token %}
                        <button type='submit' class="delete-button font button dim dib"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                      </form>
                  </div>
                </div>
              </div>
              {% if forloop.counter|divisibleby:2 %}
        </div>
        <div class="row">
      {% endif %}
      {% endif %}
      {% endfor %}
    </div>
  </div>

{% endblock %}