{% extends "base.html" %}
{% load snippet_tags %}
{% load staticfiles %}
{% load static %}

{% block content %}

<!--would like to add if statement that if logged in user matches the added by user, the link goes to their profile page, if the user does not match, then go to a lsit view of "public" posts by the added by user or a blank url or dead url.-->

<div class="container" style="max-width: 90%; padding-right: 2px;">
<h2 class="snippet-title font">{{snippet.title}}</h2>
{% if user != snippet.user %}

<h4 class="snippet-user body-font">by: <a class="btn btn-light profile-links body-font black hover-black" href="{% if user == snippet.user%}{% url 'snippet_list' %} {%else%} {% url 'user_snippets' snippet.user.pk %}{%endif%}">{{snippet.user}}</a></h4>
{% endif %}

<div class="pl2 pr2 card" style="max-width: 70rem; margin: 0;">
    <script src="{% static 'js/prism.js' %}"></script>
    <pre class="line-numbers"><code class=“language-{{snippet.language}}“>{{snippet.content}}</code></pre>
</div>

<div>
    {% if request.user.is_authenticated and user == snippet.user %}
    <div class="pl4 mt3 mb3">
        <button class="btn button-success" style="padding: 0;" type="button" value="Edit Snippet"><a style="padding-left: 2rem; padding-right: 2rem;" class="black hover-white" href="{% url 'snippet-update' pk=snippet.pk %}">Edit</a></button>
        <button class="delete-snippet btn button-success" style="padding: 0;" type="button" value="Delete Snippet"><a style="padding-left: 2rem; padding-right: 2rem;" class="black hover-white" href="{% url 'confirm-snippet-delete' pk=snippet.pk %}">Delete</a></button>
    </div>
    {% else %}
    <div class="pl4 mt3 mb3">
        <button class="btn button-success" style="padding: 0;" type="button" value="Copy Snippet"><a href="#" class="black  hover-white" style="padding-left: 2rem; padding-right: 2rem;">Kopy <i class="fas fa-plus-square"></i></a></button>
    </div>
    {% endif %}
</div>
<div class="pl4">
{% if snippet.public == True %} 
        (Public)
        <span class="f6 gray">Copied: {% copyCount snippet.pk %}.</span>    
      {% else %} 
        (Private)
      {% endif %}
</div>
<div>
    <p class="snippet-created">added on: {{snippet.created_at}}</p>
</div>

</div>
{% endblock %}