{% extends "base.html" %}
{% load snippet_tags %}
{% load staticfiles %}
{% load static %}

{% block content %}

<!--would like to add if statement that if logged in user matches the added by user, the link goes to their profile page, if the user does not match, then go to a lsit view of "public" posts by the added by user or a blank url or dead url.-->


<h2 class="snippet-title">{{snippet.title}}</h2>
<h3 class="snippet-user">Added by: <a href="{% if user == snippet.user%}{% url 'snippet_list' %} {%else%}{% url 'user_snippets' snippet.user.pk %}{%endif%}">{{snippet.user}}</a></h3>

{% comment %} Prism styling {% endcomment %}
<script src="{% static 'js/prism.js' %}"></script>
<pre class="line-numbers"><code class=“language-{{snippet.language}}“>{{snippet.post_content}}</code></pre>

<div>
    {% if request.user.is_authenticated and user == snippet.user %}
        <button class="button-snippet" type="button" value="Edit Snippet"><a href="{% url 'snippet-update' slug=snippet.slug %}">Edit</a></button>
        <button class="delete-snippet button-snippet" type="button" value="Delete Snippet"><a href="{% url 'confirm-snippet-delete' pk=snippet.pk %}">Delete</a></button>
    {% else %}
        <button class="button-snippet" type="button" value="Copy Snippet"><a href="">Copy</a></button>
    {% endif %}
</div>
<div>
{% if snippet.public == True %} 
        (Public)
        <span class="f6 gray">Copied: {% copyCount snippet.pk %}.</span>    
      {% else %} 
        (Private)
      {% endif %}
</div>
<div>
    <p class="snippet-created">Created at: {{snippet.created_at}}</p>
</div>


{% endblock %}