{% extends "base.html" %}
{% load snippet_tags %}
{% load staticfiles %}

{% block content %}
<div class="ml5">
  <nav>

  </nav>

  <h1 class="font">Create Code Snippet:</h1>

  <form class="font pure-form pure-form-aligned" id="new-snippet-form" method='POST' action="{% url 'new-snippet' %}">
    
    {% csrf_token %}
    <table>
      {{ form.as_p }}
    </table>
    <input id="snippet-field" type="submit" class="font button-success pure-button"></input>
  </form>
</div>
<div class="ml5 mt3" style="font-family: 'Raleway';">
  <div class="mt0">
    <form class="" method="GET" style="font-family: 'Raleway'">
      <table class="flex wrap around pure-table pure-table-horizontal">
        <tr class="pure-form pure-form-stacked">
          <td>{{ filter.form.title__icontains.label_tag }}</td>
          <td>{{ filter.form.title__icontains }}</td>

          <td>{{ filter.form.post_content__icontains.label_tag }}</td>
          <td>{{ filter.form.post_content__icontains }}</td>

          <td>{{ filter.form.language.label_tag }}</td>
          <td>{{ filter.form.language }}</td>
          
          <td><button class="font button-success pure-button" type="submit">Go</button></td>
        </tr>
      </table>
    </form>
  </div>
  <h3 class="font">Your Snippet List</h3>
    
    {% for snippet in filter.qs %}
      {% if user == snippet.user %}
      <div class="flex mb1 pa1" id="snippet-{{ snippet.pk }}">
        <a class="detail-links body-font link black" href="{% url 'snippet-detail' slug=snippet.slug %}">{{ snippet }}</a>
        <span class="mr2 ml2 f6 gray">
          {% if snippet.public == True %}
          (Public)
          {% else %}
          (Private)
          {% endif %}
        </span>
        <span class="f6 gray">Copied: {% copyCount snippet.pk %}</span>

        <form data-snippetpk="{{ snippet.pk }}" class="delete-snippet" method='POST'
          action="{% url 'confirm-snippet-delete' pk=snippet.pk %}">
          {% csrf_token %}
          <button type='submit' class="delete-button font button dim dib"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
        </form>
      </div>

      {% endif %}
    {% endfor %}
</div>
{% endblock %}