{% extends "base.html" %}
{% load snippet_tags %}
{% load staticfiles %}

{% block content %}
<div class="accordion mb3" id="accordionExample" style="margin-left: 1.5rem;">
  <button class="btn logo_font" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
    <i class="fas fa-sliders-h"></i>
  </button>
  <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
    <div class="card-body" style="padding: 0;">
      <form method="GET" style="font-family: 'Raleway'; margin-top: 1rem;">
        <table class="form-group">
            <span style="padding: 1rem;">{{ filter.form.title__icontains.label_tag }}</span>
            <span>{{ filter.form.title__icontains }}</span>

            <span style="padding: 1rem;">{{ filter.form.content__icontains.label_tag }}</span>
            <span style="padding-right: 2rem;">{{ filter.form.content__icontains }}</span>
  
            <span style="padding: 1rem;">{{ filter.form.language.label_tag }}</span>
            <span>{{ filter.form.language }}</span>
                                <style>.foo:hover { color: white; }</style>
            <td><button class="foo font button-success btn ml2 mt2" type="submit">Go</button></td>
        </table>
      </form>
    </div>
  </div>
</div>

<h3 class="font pb2" style="padding-top: 0.4rem; margin-left: 1.75rem;">Your Pouch:</h3>
<div class="container" style="max-width: 90%; padding-right: 1rem;">
  <div class="row flex-grow">
  {% for snippet in filter.qs %}
    {% if user == snippet.user %}
    <div class="col-md col-md col-md" style="padding: 3px;">
      <!-- snippet card start -->
      <div class="card mb-3" style="height: 19rem; max-width: 60rem; margin: 0;">
        <a class="detail-links body-font black hover-white" style="text-decoration: none;" href="{% url 'snippet-detail' pk=snippet.pk %}">
          <style>
            .bar:hover { text-shadow: 1px 1px 2px #000000; }
          </style>
          <div class="card-header bar" style="overflow: auto; padding: 0.2rem;">
            <div class="flex mb1 pa1" style="font-size: 1.25rem; font-weight: bold;" id="snippet-{{ snippet.pk }}">
              {{ snippet }}
            </div>
          </div>
        </a>

        <div class="card-body" style="overflow: auto; padding: 0;">
          <script src="{% static 'js/prism.js' %}"></script>
          <pre class="line-numbers js-snippetcontent pa2"><code class=“language-{{snippet.language}}“>{{snippet.content}}</code></pre>
        </div>

        <div class="flex card-footer text-muted" style="padding: .5rem .75rem; min-height: 3rem;">
          <span class="f6 gray">{{snippet.get_language_display|upper}}</span>
          <span class="mr2 ml2 f6 gray">
            {% if snippet.public == True %}
            (Public)
            {% else %}
            (Private)
            {% endif %}
          </span>
          <span style="flex-grow: 2;" class="f6 gray">Copied: {% copyCount snippet.pk %}</span>
          <form data-snippetpk="{{ snippet.pk }}" class="delete-snippet" method='POST' action="{% url 'confirm-snippet-delete' pk=snippet.pk %}">
            {% csrf_token %}
            <button style="height: 2rem; padding-top: 2px; padding-bottom: 7px;" class="delete-button btn dim font hover-white" type="submit" data-toggle="tooltip" data-placement="left" data-html="true" title="Are you sure you want to <b>delete?<b>"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
          </form>
        </div>

      </div>
    </div>
  {% if forloop.counter|divisibleby:3 %}
  </div>
  <div class="row">
    {% endif %}
    {% endif %}
    {% endfor %}
  </div>
</div>
{% endblock %}