{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div>
    <h1 class="font ml5">Create Code Snippet:</h1>
    <textarea class="snippet_input"></textarea>
    <br>
    <button class="font button dim dib">Save</button>
    <div class="ml5">
      <div class="draggable_snippets">
    </div>
    </div>
    
    {% for snippet in snippets.all %}
    <div id="{{ snippet.title }}"><a href={% url 'snippet-detail' slug=snippet.slug %}>{{ snippet }}</a></div>
    {% endfor %}
      <form></form>
</div>

{% comment %} <div class="mv4">
<h2 class="font">Saved Snippets</h2>
    {% for snippet in snippets.all %}
      {% include "partials/snippet.html" %}
    {% empty %}
      <div>No snippets to show.</div>
    {% endfor %} 
</div> {% endcomment %}

{% endblock %}
