{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
{% for snippet in snippets.all %}
<h2 style="font-family: 'Raleway'; " class="ma3">User: {{snippet.user}}</h2>

<div class="ml5 f4" style="font-family: 'Raleway'; ">
    <h4>Snippets:</h4>
            <div><a style="color: #000000; text-shadow: 2px 2px 2px #F7FF00; text-decoration: none;" href="{% url 'snippet-detail' snippet.slug %}">{{snippet}}</a></div>
            <div class="ma2 f5">
            {{snippet.post_content|truncatewords:15}}
            </div>
            <div class="flex column">
                <div class="f6 ma2">{{snippet.created_at}}</div>
            </div>

{% endfor %}    
</div>





{% endblock %}