<!DOCTYPE html>
{% load staticfiles %}
{% load static %}
<html>

<head>
    <title>CodeVault</title>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Exo" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/prism.css' %}">
    <script src="{% static 'js/js.cookie.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="https://use.fontawesome.com/3c73ccdfcf.js"></script>
    <script src="{% static 'build/bundle.js' %}"></script>
</head>

{% if request.user.is_authenticated %}
<header>
    <div class="font">
        <nav class="tracked">
            <ul class="pa3 list pl0 mt0 flex flex-wrap bg-near-black nav_font_color">
                <li class="logo logo_font nav_font_color ml3 pa2 link hover-white dib mr3">&lt;/&gt;</li>
                <li> <a class="nav_font_color pa3 link hover-white dib mr3" href="{% url 'snippet_list' %}">CodeVault</a></li>
                <li><a class="nav_font_color pa3 link hover-white dib mr3" href="#0">Discover</a></li>
                <li><a class="nav_font_color pt3 pb3 ml0 link hover-white dib mr3" href="{% url 'snippet_list' %}" method="POST"
                    title="Profile page">{{ request.user.username }}</a>
                <span class="link hover-white dib mr3">|</span></li>
                <li><a class="nav_font_color pt3 pb3 link hover-white dib mr3" href="{% url 'auth_logout' %}">Logout</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</header>

<body>
    <div>
        {% block content %}{% endblock %}
    </div>
</body>

</html>