{% load snippet_tags %}
{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>KodeKangaroo</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Exo" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css" />
    <link rel="stylesheet" href="{% static 'css/prism.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="icon" type="image/ico" href="{% static 'img/favicon.png' %}">
    <script src="{% static 'js/js.cookie.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="https://use.fontawesome.com/3c73ccdfcf.js"></script>
    <!-- <script src="{% static 'build/bundle.js' %}"></script> -->
</head>

{% if request.user.is_authenticated %}
<header class="mb0">
    <div class="font mb0">
        <nav class="tracked">
            <ul class="pa3 list pl0 mt0 flex space-between flex-wrap bg-near-black nav_font_color">
                <li class="logo logo_font pa2 hover-white dib mr3 ml3"><a class="hover-white dib" style="color: #f05822" href="{% url 'snippet_list' %}">&lt;/&gt;</a></li>
                <li><a class="nav_font_color pa3 hover-white dib mr0" href="{% url 'snippet_list' %}">MyPouch <i class="fas fa-home"></i></a></li>
                <li class="pl3"><a class="nav_font_color pa3 hover-white dib mr3" href="{% url 'kommunity_list' %}">Kommunity <i class="fas fa-globe-americas"></i></a></li>
                <li class="ml3 mt2" style="flex-grow: 2;">
                    <div>
                        <button class="btn button-success hover-white" type="button" data-toggle="modal" data-target="#exampleModalCenter">
                            Keep <i class="fas fa-plus-square"></i>
                        </button>
                    </div>
                </li>
                <li class="ml4">
                    <a class="nav_font_color pt3 pb3 hover-white dib mr3" href="{% url 'snippet_list' %}" method="POST"
                    title="Profile page">{{ request.user.username }} <i class="fas fa-user"></i></a>
                    <span class="hover-white dib mr3">|</span>
                </li>
                <li><a class="nav_font_color pt3 pb3 hover-white dib mr3" href="{% url 'auth_logout' %}">bounce <i class="fas fa-sign-out-alt"></i></a></li>
            </ul>
        </nav>
    </div>
</header>
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body" style="max-width: 30rem; margin: auto;">
                <form class="form-group font black" id="new-snippet-form" method='POST' action="{% url 'new-snippet' %}">
                    {% csrf_token %}
                    <table>
                        {{ form.as_p }}
                    </table>
                    <input id="snippet-field" type="submit" class="font button-success pure-button hover-white"></input>
                </form>
            </div>
        </div>
    </div>
</div>

<body class="mt0 ">
    <div class="flex wrap mt0">
        <div class="">
            {% block sidebar %}
            {% show_user_folders request.user %}
            {% endblock %}
        </div>
        {% endif %}

        <div class="w-100">
            {% block content %}{% endblock %}
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>$(function () {$('[data-toggle="tooltip"]').tooltip();});</script>
    
</body>
</html>