{% load snippet_tags %}
{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>KodeKangaroo</title>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Exo" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/prism.css' %}">
    <script src="{% static 'js/js.cookie.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="https://use.fontawesome.com/3c73ccdfcf.js"></script>
    <!-- <script src="{% static 'build/bundle.js' %}"></script> -->
</head>

{% if request.user.is_authenticated %}
<header class="mb0">
    <div class="font mb0">
        <nav class="tracked">
            <ul class="pa3 list pl0 mt0 flex flex-wrap bg-near-black nav_font_color">
                <li class="logo logo_font nav_font_color ml3 pa2 link hover-white dib mr3">&lt;/&gt;</li>
                <li> <a class="nav_font_color pa3 link hover-white dib mr3" href="{% url 'snippet_list' %}">KodeKangaroo</a></li>
                <li><a class="nav_font_color pa3 link hover-white dib mr3" href="{% url 'discover_list' %}">Discover</a></li>
                <li><a class="nav_font_color pt3 pb3 ml0 link hover-white dib mr3" href="{% url 'snippet_list' %}" method="POST"
                    title="Profile page">{{ request.user.username }}</a>
                <span class="link hover-white dib mr3">|</span></li>
                <li><a class="nav_font_color pt3 pb3 link hover-white dib mr3" href="{% url 'auth_logout' %}">Logout</a></li>
            </ul>
        </nav>
    </div>
</header>

<body class="mt0">
    <div class="flex wrap mt0">
        <div class="">
            {% block sidebar %}
            {% show_user_folders request.user %}
            {% endblock %}
        </div>
        {% endif %}

        <div>
            {% block content %}{% endblock %}
        </div>
    </div>
</body>

</html>