<!DOCTYPE html>
{% load staticfiles %}
<html>

<head>
    <title>CodeVault</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<header>
    <nav>
        <ul>
            <li>LOGO</li>
            <li>CodeVault</li>
           
        </ul>
    </nav>
</header>
<body>
    <div>
        {% block content %}{% endblock %}
    </div>
</body>
</html>